# Core Frameworks
ultralytics==8.3.220
torch==2.9.0
torchvision==0.24.0

# Data & API
roboflow==1.2.11
numpy>=1.23.0
pillow>=10.0.0

# Headless Environment (Slurm)
opencv-python-headless==4.10.0.84

# Utilities
pyyaml
requests
matplotlib